.photo-grid {
  width: calc(100% - 7.5%);
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  gap: 16px;
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(4, minmax(auto, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, fit-content(352px));
    grid-template-rows: repeat(6, fit-content(264px));
    gap: 24px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 288px;
    grid-template-rows: repeat(auto-fill, 216px);
    gap: 12px;
  }
}
