.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.4vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    line-height: 1.1;
  }
}
