.places__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 80px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .places__list {
    gap: 79px;
  }
}

@media screen and (max-width: 600px) {
  .places__list {
    gap: clamp(48px, 10vw, 79px);
  }
}
