.lead__image {
    width: 100%;
    margin-top: 63px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 58px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
