.intro__text {
  max-width: 690px;
  margin: 35px 0 0;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    margin-top: 33px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin-top: 34px;
    max-width: clamp(288px, 94vw, 720px);
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}
