.footer__nav-item {
  margin: 0 18px 18px 0;
  flex-basis: content;
}

.footer__nav-item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 400px) {
  .footer__nav-item {
    margin-bottom: 32px;
  }

  .footer__nav-item:last-of-type {
    margin: 0;
  }
}
