.cover__title {
  position: relative;
  max-width: 560px;
  margin: 0 auto;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: clamp(250px, 75vw, 560px);
    font-size: clamp(32px, 10vw, 72px);
  }
}

