.footer__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

@media screen and (max-width: 400px) {
  .footer__nav-list {
    flex-direction: column;
  }
}

